<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	 
	<welcome-file-list>
       <welcome-file>login.html</welcome-file>
     <!-- <welcome-file>index.html</welcome-file> --> 
     
  </welcome-file-list>
  <servlet>
    <servlet-name>SMSInfoNewServlet</servlet-name>
    <servlet-class>com.SMSSendControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SMSInfoNewServlet</servlet-name>
    <url-pattern>/sendSMS</url-pattern>
  </servlet-mapping>
   
  <servlet>
    <description></description>
    <display-name>SMSLoginServlet</display-name>
    <servlet-name>SMSLoginServlet</servlet-name>
    <servlet-class>com.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SMSLoginServlet</servlet-name>
    <url-pattern>/SMSLoginServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>SMSLogoutServlet</display-name>
    <servlet-name>SMSLogoutServlet</servlet-name>
    <servlet-class>com.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SMSLogoutServlet</servlet-name>
    <url-pattern>/SMSLogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>
